# FILE: requirements.txt
# ACTION: Update your requirements file with these new libraries.

fastapi
uvicorn[standard]
python-multipart
Pillow
datasets
sentence-transformers
faiss-cpu
numpy
transformers
torch
accelerate
bitsandbytes
einops
tiktoken
nest-asyncio 
pyngrok
pandas
pyarrow
